# Mobile Country Code value of HPLMN
mcc: '{{ plmn[:3] }}'
# Mobile Network Code value of HPLMN (2 or 3 digits)
mnc: '{{ plmn[3:] }}'

nci: '0x{{ '%0x' % tac }}'  # NR Cell Identity (36-bit)
idLength: 32        # NR gNB ID length in bits [22...32]
tac: {{ tac }}              # Tracking Area Code

linkIp: {{ radio_addr }}   # gNB's local IP address for Radio Link Simulation (Usually same with local IP)
ngapIp: {{ ngap_addr }}   # gNB's local IP address for N2 Interface (Usually same with local IP)
gtpIp: {{ gtp_addr }}    # gNB's local IP address for N3 Interface (Usually same with local IP)

# List of AMF address information
amfConfigs:
  - address: {{ amf_ip }}
    port: {{ amf_port }}

# List of supported S-NSSAIs by this gNB
slices:
{{ nssai | to_yaml(indent=2, default_flow_style=False) }}

# Indicates whether or not SCTP stream number errors should be ignored.
ignoreStreamIds: true
