.idea/*
nsd_packages/*
vnf_packages/*
day2_files/*
mounted_folder/*
*.pyo
*.pyc
*.log
/vnf_packages/
/.idea/
config/config_dev.yaml
main_debug.py
#helm_charts/charts/*
helm_charts/index.yaml
/docs/build/*
*.drawio*.bkp
config_unitest_dev.yaml
/config_dev.yaml
