[tool.poetry]
name = "nfvcl"
version = "0.4.0"
description = ""
packages = [
    { include = "nfvcl_core_models", from = "src" },
    { include = "nfvcl_core", from = "src" },
    { include = "nfvcl_rest", from = "src" },
    { include = "nfvcl_horse", from = "src" },
    { include = "nfvcl_models", from = "src" },
    { include = "nfvcl", from = "src" },
]
authors = ["TNT LAB <staff@tnt-lab.unige.it>"]
maintainers = [
    "Paolo Bono <paolob@tnt-lab.unige.it>",
    "Alderico Gallo <aldericog@tnt-lab.unige.it>",
    "Davide Freggiaro <davidef@tnt-lab.unige.it>",
]
license = "n\b"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.115.11"
file_read_backwards = "^3.1.0"
"ruamel.yaml" = "^0.18.10"
"jinja2-ansible-filters" = "^1.3.2"
redis = "^5.0.1"
"ruamel.yaml.jinja2" = "^0.2.7"
kubernetes = "32.0.1"
uvicorn = "^0.34.0"
pydantic = {version = "^2.10.6", extras = ["email"]}
pydantic-settings = "^2.7.1"
pyOpenSSL = "24.0.0"
pymongo = "^4.11.2"
paramiko = "^3.5.1"
requests = "^2.32.3"
openstacksdk = "^4.4.0"
coloredlogs = "^15.0.1"
colorama = "^0.4.6"
verboselogs = "^1.7"
ansible-runner = "^2.3.5"
ansible = "^9.2.0"
pyhelm3 = "^0.4.0"
httpx = {extras = ["http2"], version = "^0.28.1"}
jinja2 = "^3.1.6"
dependency-injector = "^4.46.0"
decohints = "^1.0.9"
python-jose = "^3.4.0"
python-multipart = "^0.0.20"
blinker = "^1.9.0"
proxmoxer = "^2.2.0"
grafana-client = "^4.3.2"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
pytest-dependency = "^0.6.0"
mypy = "^1.11.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
