fastapi
pymongo
requests
ruamel.yaml
python-neutronclient
paramiko
jinja2-ansible-filters
redis
ruamel.yaml.jinja2
# Kubernetes client should be +-1 with respect to kubernetes cluster version (if kubeclient 26.y.z => 1.25<=kubernetes<=1.27)
kubernetes~=26.1.0
uvicorn
pydantic