# Driver options. Choose any one of the three
#
# "dpdk" set as default
# "af_xdp" uses AF_XDP sockets via DPDK's vdev for pkt I/O. This version is non-zc version. ZC version still needs to be evaluated.
# "af_packet" uses AF_PACKET sockets via DPDK's vdev for pkt I/O.
# "sim" uses Source() modules to simulate traffic generation
# "cndp" uses kernel AF-XDP. It supports ZC and XDP offload if driver and NIC supports it. It's tested on Intel 800 series n/w adapter.
UPF_MODE="{{ upf_mode }}"
#mode="dpdk"
#mode="cndp"
#mode="af_xdp"
#mode="af_packet"
#mode="sim"

# Gateway interface(s)
#
# In the order of ("s1u" "sgi")
IFACES=("{{ n3_nic_name }}" "{{ n6_nic_name }}")

# Static IP addresses of gateway interface(s) in cidr format
#
# In the order of (s1u sgi)
IPADDRS=({{ n3_net_cidr }} {{ n6_net_cidr }})

# MAC addresses of gateway interface(s)
#
# In the order of (s1u sgi)
MACADDRS=({{ n3_nic_mac }} {{ n6_nic_mac }})

# Static IP addresses of the neighbors of gateway interface(s)
#
# In the order of (n-s1u n-sgi)
NHIPADDRS=({{ n3_nh_ip }} {{ n6_nh_ip }})

# Static MAC addresses of the neighbors of gateway interface(s)
#
# In the order of (n-s1u n-sgi)
NHMACADDRS=({{ n3_nh_mac }} {{ n6_nh_mac }})

# IPv4 route table entries in cidr format per port
#
# In the order of ("{r-s1u}" "{r-sgi}")
ROUTES=("{{ n3_route }}" "{{ n6_route }}")
