[Unit]
Description=VXLAN network service
# We start when the network stack is ready
After=network.target
# We start after dummy network has been started
After=dummy-network.service
StartLimitIntervalSec=0

[Service]
# The service has no background execution -> One shot
Type=oneshot
User=root
ExecStart=/usr/bin/vxlank8s{{ vx_name }}.sh
[Install]
WantedBy=multi-user.target
