version: '3.8'
services:
  free5gc-upf{{ upf_id }}:
    container_name: upf{{ upf_id }}
    image: free5gc/upf:v3.4.3
    restart: on-failure
    command: bash -c "./upf-iptables.sh && ./upf -c ./config/upfcfg.yaml"
    volumes:
      - ./config/upfcfg.yaml:/free5gc/config/upfcfg.yaml
      - ./config/upf-iptables.sh:/free5gc/upf-iptables.sh
    cap_add:
      - NET_ADMIN
    network_mode: host
