---
- hosts: all
  become: yes
  gather_facts: no
  tasks:
   - name: Add IP to GreenQueueBypass
     shell: |
       docker exec -t bess bessctl "command module green_queue_nfvcl enqueue GreenQueueBypassCommandEnqueueIpAddressArg {'ip_address': b'{{ ip }}'}"
