#!/bin/bash
docker compose up -d
while ! ip a | grep -oP 'tun0'; do
  echo "Waiting for tun0 interface, will try again in 1 second";
  sleep 1;
done
ip r replace {{ gnb_cidr }} via {{ n3_gateway }}
ip r replace default via {{ n6_gateway }} table 1000
ip rule add iif tun0 lookup 1000
