[Unit]
Description=Dummy network service
# We start when the network stack is ready
After=network.target
# K8s is delayed since it uses the dummy network
Before=kubelet.service
StartLimitIntervalSec=0

[Service]
# The service has no background execution -> One shot
Type=oneshot
User=root
ExecStart=/usr/bin/dummynet.sh
[Install]
WantedBy=multi-user.target
