# .github/workflows/epem.yml

name: ePEM CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login "${{ secrets.GHCR_URL }}" -u "${{ github.actor }}" --password-stdin

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.GHCR_IMAGE }} .
          docker push ${{ secrets.GHCR_IMAGE }}
